body { margin: 0px; /*background-color: #6E2C00;*/ }
.wrapper { height: 99.6%; 
          position: absolute; 
          width: 100%; 
          transition: 2s; 
        }
.wrapper > img { height: 100%; 
                width: 100%; 
        }
.cover { height: 100%; 
        width: 100%; 
        background-color: #D5F5E3; 
        opacity: .7; 
        position: absolute; 
        transition: 2s; 
        }
.welcome-box { height: 12%; 
              width: 30%; 
              border-radius: 10px; 
              margin: 0 auto; 
              margin-top: 130px; 
              font-family: Andalus; 
              color: #1E8449; 
              font-size:3em; 
              transform: scale(0.1); 
              transition: 2s; 
        }
.matter {  height: 12%; 
          width: 45%; 
          margin-top: 23%; 
          float: right; 
          margin-right: 1%; 
          border-radius: 10px;
          border: 4px double #1E8449;
          font-family: Andalus; 
          color: #1E8449; 
          font-size: 27px; 
          text-align: center; 
          padding: 10px; 
          font-weight: 900; 
          transition: 3s;
        }
.FeedForm{height:50%; 
         width:40%; /*border:4px double #1D8348; border-radius: 10px;*/ 
         margin-left:55%;
         margin-top:-120%; 
         transition: 2s; 
         position:absolute;
        }
.FeedForm > form > input{ border: 1px solid #1D8348; 
                         font-size:1.2em; 
                         font-family: andalus; 
                         box-shadow: inset 0px 0px 10px #1D8348; 
                         color:#1D8348; 
                         border-radius: 5px; 
                         margin: 10px; 
                         width:80%; 
                         height:17%;
                         text-align: center; 
                         margin-left:40px; 
                         padding: 3px;
                        }
.WelImg{height:85%; 
       width:35%;
       margin-left: 15%;
       margin-top: -60%; 
       transition: 2s;
       position: absolute;
    }